router id 192.0.2.61;

log "/var/log/bird.log" all;
log syslog all;
debug protocols all;

protocol static own_prefixes {
    route {{ data.AS6_pref1 }} reject;
    route {{ data.AS6_pref2 }} reject;
    route {{ data.AS6_pref3 }} reject;
    route {{ data.AS6_pref4 }} reject;
}

protocol device { }
protocol bgp the_rs {
    local as 6;
    neighbor {{ data.rs_IPAddress }} as 999;
    next hop self;
    import all;
    export all;
    connect delay time 1;
    connect retry time 1;
}
