include LICENSE
include README.rst
include CHANGES.rst
include MANIFEST.in
include requirements.txt
recursive-include pierky *.py
recursive-include pierky/arouteserver/config.d
recursive-include pierky/arouteserver/config.d *
recursive-include pierky/arouteserver/templates
recursive-include pierky/arouteserver/templates *
