include LICENSE
include README.rst
include CHANGES.rst
include MANIFEST.in
include requirements.txt
recursive-include pierky *.py
recursive-include config.d *.*
recursive-include templates *.*
recursive-include tests *.py
recursive-include tests *.json
recursive-include tests *.yml
recursive-include tests *.j2
recursive-include tests Dockerfile.*
recursive-include examples *.conf
recursive-include examples *.yml
