{% from 'macros.j2' import write_prefix_list %}
# ---------------------------------------------------------
# RPKI

{% if cfg.filtering.rpki_bgp_origin_validation.enabled or
    cfg.filtering.irrdb.use_rpki_roas_as_route_objects.enabled %}
roa4 table RPKI4;
roa6 table RPKI6;
{%  if cfg.rpki_roas.source == "rtr" %}
protocol rpki {
        debug all;

{%    for this_ip_ver in list_ip_vers %}
        roa{{ this_ip_ver }} { table RPKI{{ this_ip_ver }}; };
{%    endfor %}

        # FIXME TODO
        remote "127.0.0.1" port 8282;

        retry keep 5;
        refresh keep 30;
        expire 600;
}
{%  else %}
{%    for this_ip_ver in list_ip_vers %}
protocol static {
    roa{{ this_ip_ver }} { table RPKI{{ this_ip_ver }}; };
{%      for roa in rpki_roas|selectattr("prefix", "is_ipver", this_ip_ver) %}
    route {{ roa.prefix }} max {{ roa.max_len }} as {{ roa.asn }};
{%      endfor %}
}
{%    endfor %}
{%  endif %}
{% else %}
# RPKI not used.
{% endif %}
