{% from 'macros.j2' import write_prefix_list %}
# ---------------------------------------------------------
# RPKI

{% if cfg.filtering.rpki_bgp_origin_validation.enabled or
	cfg.filtering.irrdb.use_rpki_roas_as_route_objects.enabled %}
{%	if cfg.rpki_roas.source == "rtrlib" %}
# ROAs can be loaded using an external tool: rtrllib
# https://github.com/rtrlib/bird-rtrlib-cli
{%	endif %}
roa table RPKI {
{%	if rpki_roas %}
{%		for origin_asn in rpki_roas|sort %}
{%			for roa in rpki_roas[origin_asn].roas if roa.prefix is current_ipver %}
	roa {{ roa.prefix }}/{{ roa.length }} max {{ roa.le }} as {{ origin_asn|replace("AS", "") }};
{%			endfor %}
{%		endfor %}
{%	endif %}
};
{% else %}
# RPKI not used.
{% endif %}
