router id 192.0.2.12;

log "/var/log/bird.log" all;
log syslog all;
debug protocols { states, routes, filters, interfaces, events };

timeformat base         iso long;
timeformat log          iso long;
timeformat protocol     iso long;
timeformat route        iso long;

protocol device {};

ipv4 table master4 sorted;

protocol static {
	ipv4 { table master4; };
	route {{ data.AS1_v4_route6 }} unreachable;
}

filter to_the_rs {
	if net = {{ data.AS1_v4_route6 }} then
		bgp_next_hop = {{ data.AS1_1_IPAddress }};

	accept;
}

protocol bgp the_rs {
	local as 1;
	neighbor {{ data.rs_IPAddress }} as 999;

	connect delay time 1;
	connect retry time 1;

	ipv4 {
		table master4;
		import table on;
		import keep filtered on;
		import none;
		export filter to_the_rs;
		extended next hop on;
	};
}
