router id 192.0.2.31;

log "/var/log/bird.log" all;
log syslog all;
debug protocols all;

protocol device { }

protocol static own_prefixes {
	route {{ data.AS3_blacklist1 }} reject;
        route {{ data.AS3_cc_AS1only }} reject;
	route {{ data.AS3_cc_not_AS1 }} reject;
	route {{ data.AS3_cc_none }} reject;
	route {{ data.AS3_prepend1any }} reject;
	route {{ data.AS3_prepend2any }} reject;
	route {{ data.AS3_prepend3any }} reject;
	route {{ data.AS3_prepend1_AS1 }} reject;
	route {{ data.AS3_prepend2_AS2 }} reject;
	route {{ data.AS3_prep3AS1_1any }} reject;
	route {{ data.AS3_noexport_any }} reject;
	route {{ data.AS3_noexport_AS1 }} reject;
	route {{ data.AS3_rfc1997_noexp }} reject;
	route {{ data.AS3_transitfree_2 }} reject;
	route {{ data.AS3_prep2AS151866 }} reject;
	route {{ data.AS3_noexpAS151866 }} reject;
	route {{ data.Default_route }} reject;
}

filter to_rs {
	if net = {{ data.AS3_cc_AS1only }} then {
		bgp_community.add((65501,1));
		bgp_community.add((0,999));
	}
	if net = {{ data.AS3_cc_not_AS1 }} then {
		bgp_community.add((0,1));
	}
	if net = {{ data.AS3_cc_none }} then {
		bgp_community.add((0,999));
	}
	if net = {{ data.AS3_prepend1any }} then {
		bgp_community.add((65521,65521));
	}
	if net = {{ data.AS3_prepend2any }} then {
		bgp_community.add((65522,65522));
	}
	if net = {{ data.AS3_prepend3any }} then {
		bgp_community.add((65523,65523));
	}
	if net = {{ data.AS3_prepend1_AS1 }} then {
		bgp_community.add((65521,1));
	}
	if net = {{ data.AS3_prepend2_AS2 }} then {
		bgp_community.add((65522,2));
	}
	if net = {{ data.AS3_prep3AS1_1any }} then {
		bgp_community.add((65523,1));
		bgp_community.add((65521,65521));
	}
	if net = {{ data.AS3_noexport_any }} then {
		bgp_community.add((65507,999));
	}
	if net = {{ data.AS3_noexport_AS1 }} then {
		bgp_community.add((65509,1));
		bgp_community.add((65523,2));
	}
	if net = {{ data.AS3_rfc1997_noexp }} then {
		bgp_community.add((65535, 65281));
	}
	if net = {{ data.AS3_transitfree_2 }} then {
		bgp_path.delete(3);
		bgp_path.prepend(33);
		bgp_path.prepend(174);
		bgp_path.prepend(3);
	}
	if net = {{ data.AS3_prep2AS151866 }} then {
		bgp_community.add((65522, 64512));
	}
	if net = {{ data.AS3_noexpAS151866 }} then {
		bgp_community.add((65509, 64512));
	}
	accept;
}
filter from_rs {
	# Since AS3 is configured with ADD_PATH, this allows
	# to have a more stable behaviour and to avoid having
	# a diff in routes dumps.
	if bgp_path ~ [= 999 1 * =] then {
		bgp_local_pref = 101;
	}
	accept;
}
protocol bgp the_rs {
	local as 3;
	neighbor {{ data.rs_IPAddress }} as 999;
	passive on;
	add paths rx;
	import filter from_rs;
	export filter to_rs;
	connect delay time 1;
	connect retry time 1;
}
