router id 192.0.2.61;

log "/var/log/bird.log" all;
log syslog all;
debug protocols all;

protocol device { }

protocol static own_prefixes 
{
	route {{ data.AS2_roa1 }} reject;
	route {{ data.AS3_roa2 }} reject;
	route {{ data.AS3_arin1 }} reject;
	route {{ data.AS3_roa3_arin2 }} reject;
	route {{ data.AS6_ok_ok_roa6_arin6 }} reject;
}


function fake_origin_as(int origin_as) {
	# build an AS_PATH == "6 <origin_as>"
	bgp_path.delete(6);
	bgp_path.prepend(origin_as);
	bgp_path.prepend(6);
}
filter outgoing {
	if net = {{ data.AS2_roa1 }} then fake_origin_as(2);
	if net = {{ data.AS3_roa2 }} then fake_origin_as(3);
	if net = {{ data.AS3_arin1 }} then fake_origin_as(3);
	if net = {{ data.AS3_roa3_arin2 }} then fake_origin_as(3);
	accept;
}

protocol bgp the_rs {
	local as 6;
	neighbor {{ data.rs_IPAddress }} as 999;
	next hop self;
	import all;
	export filter outgoing;
	connect delay time 1;
	connect retry time 1;
}

