# Please see "AS2.j2" for more details.

router id 192.0.2.11;

log "/var/log/bird.log" all;
log syslog all;
debug protocols all;

protocol device { }

protocol bgp the_rs {
	local as 1;
	neighbor {{ data.rs_IPAddress }} as 999;
	import all;
	export none;
	connect delay time 1;
	connect retry time 1;
}
