ip_ver
------
{{ ip_ver|to_yaml }}

cfg
---
{{ cfg.cfg|to_yaml }}

bogons
------
{{ bogons.cfg|to_yaml }}

clients
-------
{{ clients.cfg|to_yaml }}

asns
----
{{ asns.cfg|to_yaml }}

as_sets
-------
{{ as_sets|to_yaml }}

roas
----
{{ roas.cfg|to_yaml }}
